h1 {

  font-size:190%;
  padding-top:20px;

}

hr {
  border-style: solid;
  border: none;
  border-top: 0.5px solid #777;
  margin: 28px 0;
}

img {

  margin-top: 20px;
  margin-bottom: 20px;
  border:0;

}

p {
  font-size:108%;
  padding-bottom:7px;
}

table td {
  font-size:103%;
}

table td .math {
  font-size:108%;
}
